.deps
.libs
.perf
cairo-*.*.*
ChangeLog*
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autoscan.log
build/gtk-doc.m4
config.cache
config.h
config.h.in
config.log
config.status
configure
configure.scan
doltcompile
doltlibtool
gtk-doc.make
libtool
releases
stamp-h
stamp-h1
stamp-h.in
*~
.*.sw?
*.la
*.lo
*.orig
*.rej
*-uninstalled.pc
.vimrc

/src/cairo-win32-system.c
/src/cairo-win32-debug.c
/src/cairo-win32-device.c
/src/cairo-win32-display-surface.c
/src/cairo-win32-font.c
/src/cairo-win32-gdi-compositor.c
/src/cairo-win32-printing-surface.c
/src/cairo-win32-private.h
/src/cairo-win32-surface.c
/msvc/cairo/cairo.rc
/msvc/cairo/cairo.aps
/msvc/cairo.vsprops
/win32-fixup.pl.in
